@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    
}

body * {
    box-sizing: border-box;
    padding: 0;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.left-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {
    font-size: 1%;
    color: #00A6FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login-image {
    width: 300px;
}

.right-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px 20px;
    background: #2f2841;
    border-radius: 55px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1 {
    color: #00A6FF;
    font-weight: 800;
    margin: 0;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
    color: #fff;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

textfield > label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield > input::placeholder {
    color: #f0ffff94;
}

.signup-link {
    text-align: center;
    margin-top: 10px;
  }

  .signup-link a {
    width: 10%;
    padding: 0% 0px;
    border: none;
    border-radius: 11px;
    outline: none;
    text-transform: inherit;
    font-weight: 25vh;
    color: #00A6FF;
    cursor: pointer;
    text-decoration: none;
  }

.btn-login {
    width: 100%;
    padding: 4px 0px;
    border: none;
    border-radius: 20px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #201b2c;
    background: #00A6FF;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #006eff52;
    text-decoration: none;
    text-align: center;
}

.btn-login:hover {
    background-color: #00a6ff81;
}

@media only screen and (max-width: 900px) {
    .card-login {
        width: 100%;
    }
}

@media only screen and (max-width: 600px ){
    .main-login {
        flex-direction: column;
    }
    .left-login > h1 {
        display: none;
    }
    .left-login {
        width: 100%;
        height: none;
    }
    .right-login {
        width: 100%;
        height: none;
    }
    .card-login {
        width: 100%;
    }
    #container-card {
        width: 100%;    
        padding: 30px;
    }
}
